main
{
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

.WebsiteTitle
{
    font-size: 150px;
    color: white;
}

footer
{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer p
{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.548);
}

footer a
{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.548);
}

nav
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a
{
    text-decoration: none;
    font-size: 23px;
    padding-left: 440px;
    padding-right: 50px;
}

body
{
    background-image: url(under-water-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.WebsiteDescription
{
    padding-top: 40px;
    padding-bottom: 175px;
    padding-left: 700px;
    padding-right: 700px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.WhatIsCC
{
    color: white;
    font-size: 100px;
    padding-bottom: 50px;
}

.WhatIsCCP
{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.causestitle
{
    color: white;
    font-size: 100px;
    padding-bottom: 50px;
}

.causesp
{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.statprevtitle
{
    color: white;
    font-size: 100px;
    padding-bottom: 50px;
}

.statsp
{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.prevp
{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.sourcet
{
    color: white;
    font-size: 100px;
    padding-bottom: 50px;
}

.sourcep
{
    color: white;
    font-size: 15px;
    font-weight: bold;
}